<script setup lang="ts">
import MainView from './views/MainView.vue';
import LoginView from './views/LoginView.vue';
import {ref,computed,onMounted} from 'vue';
import { useloginStore } from "@/stores/login";
const loginStore = useloginStore();

onMounted(() => {
  console.log("refresh");
  loginStore.loadData();
})

</script>

<template>
  <LoginView v-if="!loginStore.islogin" />
  <MainView v-if="loginStore.islogin" @logout="loginStore.logout" :loginname="loginStore.loginname"/>
</template>
